body {
    background-image: url("images/mp3-old-things-recall-vintage-black-and-white-music.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
header {
    text-align: center;
    padding: 1em 0; /* Add padding to separate the header from the top */
    color: white;
    position: relative;   
}

header ul {
    list-style-type: none;
    padding: 0;
    position: absolute; /* Position the ul absolutely within the header */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
}

h1 {
    font-size: 3em;
    font-weight: bold;
}
header p1 {
    font-size: 1.5em;
}

nav {
    margin-top: 1em;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    display: inline-block;
    margin-right: 1em;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
