body {
    background-image: url("../images/music-cassette-blender-mp3-3d.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5% 3%; /* Push the body down by 10% from the top and 0 from the sides */
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif; /* Define a font for the entire page */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 00vh;
}

/* Adjust the font size for h1 and p elements in the header */
header h1 {
    font-size: 2em; /* Adjust the font size as needed */
}

header p {
    font-size: 0.8em; /* Adjust the font size as needed */
}

/* Style the header navigation list */
nav ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 15px; /* Adjust the top position to your preference */
    right: 10px; /* Adjust the right position to your preference */
}

/* Style the individual navigation list items */
nav li {
    display: inline-block;
    margin-right: 20px;
    background-color: transparent;
}

nav a {
    color: blue;
    text-decoration: none;
    font-weight: bold; /* Make the text bold */
}

/* Optional: Add hover effect for navigation links */
nav a:hover {
    text-decoration: underline;
}

/* Style the "Get Started" button */
.cta-button {
    display: inline-block;
    background-color: #007BFF; /* Change button background color */
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px; /* Add spacing above the button */
}

.cta-button:hover {
    background-color: #0056b3; /* Change button background color on hover */
}

/* Style the container within the section */
.container {
    max-width: 4000px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    text-align: left; /* Align text content to the left */
    padding: 50px; /* Add padding for content within the container */
}

/* Style the headings and paragraphs within the container */
.container h2 {
    font-size: 2.5em; /* Adjust the font size */
    font-weight: bold;
    margin-bottom: 10px; /* Add spacing between headings */
}

.container p {
    font-size: 1.0em; /* Adjust the font size */
    font-weight: lighter;
    margin-bottom: 30px; /* Add spacing between paragraphs */
}

.container ul {
    margin-top: 10px; /* Add spacing between unordered lists */
}

.container:before {
    content: '';
    display: block;
    position: fixed;
    bottom: 0; /* Place it at the bottom of the viewport */
    right: 0;
    width: 50%;
    height: 100%; /* Set the height to 50% to cover the lower half of the screen */
    background-color: rgba(128, 128, 128, 0.5); /* Grey with 50% opacity */
    z-index: -1; /* Place it behind the content */
}